.page {
  max-width: 440px;
  position: relative;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  background-color:#a7d4f3;
  min-width: 320px;
}

@media screen and (max-width: 440px) {
  .page {
    max-width: 100%;
  }
}

