.locations__title {
  color: #999999;
  font-family: Barlow; /*дописать шрифт*/
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding-bottom: 27px;
  margin: 0;
}