.locations__name {
  font-family: 'Barlow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #000000;
  border: none;
}
