.locations {
  width: 375px; 
  height: 100vh; /*поменять на макс*/
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: 29px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .locations {
    max-width: 100%;
  }
}
