.weather-city__local {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 48px;
  align-items: center;
  margin-bottom: 30px;
}

 @media screen and (max-width: 375px) {
  .weather-city__local {
    margin-bottom: 1vh;
  }
} 