.weather-city {
  max-width: 440px; 
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: -20px;
  box-shadow: 0px -16px 40px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.weather-city::-webkit-scrollbar { width: 0; }