.weather-city__info-list {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column-gap: 15px;
  grid-template-rows: 100px repeat(3,95px);
  grid-row-gap: 5px;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  max-width: 100%;
}