.weather-city__info-list {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-column-gap: 20px;
  grid-auto-rows: 95px;
  grid-row-gap: 5px;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  max-width: 100%;
}