.locations__search {
  display: flex;
  max-width: 100%;
  max-height: 40px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 9px 15px;
  background-color: #F3F3F3;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}