.locations__list {
 list-style-type: none;
 margin: 0;
 padding: 0;
 padding-top: 20px;
 display: grid;
 grid-template-columns: 100%;
 grid-auto-rows: 40px;
 grid-row-gap: 1px;
 position: relative;
 z-index: 1;
 top: 115px;
 overflow: scroll;
 height: 100vh;
}

.locations__list::-webkit-scrollbar { width: 0; }